@tailwind base;
@tailwind components;
@tailwind utilities;

.wrap-two-line{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

@layer components {
    .container {
      @apply md:max-w-[720px] lg:max-w-[960px] xl:max-w-[1140px];
    }
    .title {
      @apply text-[26px] font-semibold md:text-[46px]/[54px] text-[#1e1e1e];
    }
    .second-title {
      @apply text-[22px] font-semibold sm:text-[30px]/[40px] text-[#1e1e1e];
    }
    .third-title {
      @apply text-xl font-semibold sm:text-[30px]/[40px] text-[#1e1e1e];
    }
}

@layer utilities {
  .backface-visibility-hidden {
    backface-visibility: hidden;
    will-change: transform;
    transform-origin: center;
    transform: translateZ(0);
  }
}

@layer base {
  img {
    @apply h-full object-cover
  }
}